body {
  background: url("../images/utensils.png");
}

#main-container {
  width: 100%;
  max-width: 960px;
  margin: 10px auto 50px auto;
  clear: both;
}

.jumbotron {
   background-color: #20315A;
   color: white;
}

.jumbotron h1 {
  font-size: 60px;
}

.jumbotron i {
  margin: 0 50px;
}

form {
  font-weight: bold;
  text-align: center;
}

.form-control {
  text-align: center;
  margin: 10px auto auto auto;
  width: 60%;
}

.custom-control-inline {
  margin-top: 15px;
}

#add-food {
  text-align: center;
}

#add-food-submit {
  margin-top: 10px;
}
