body {
  background: url("../images/cinema01.jpeg");
  font-family: 'Noto Sans', sans-serif;
}

nav {
  margin-bottom:30px;
}

.brand-logo {
  font-family: 'Lobster', cursive;
  font-size:45px !important;
}

a {
  width:100%
}

#header-icon {
  font-size:45px;
}


.container {
  width: 100%;
}

#main-container {
  width: 90%;
  max-width: 960px;
  /* margin: 10px auto 50px auto; */
  clear: both;
}

form {
  font-weight: bold;
  text-align: center;
}

.form-control {
  text-align: center;
  margin: 10px auto auto auto;
  width: 60%;
}

.custom-control-inline {
  margin-top: 15px;
}

#add-food {
  text-align: center;
}

#add-food-submit {
  margin-top: 10px;
}



#movie-results-container h1 {
  font-size: 28px;
  font-weight: bold;
}

#movie-results-container p {
  font-size: 14px;
}

.trendingMoviesDiv {
  text-align: center;
}


.foodListDiv {
  text-align: center;
}

.trendingMoviesDiv button {
  margin-bottom: 10px;
}

.trendingMoviesDiv tr {
  border: none;
}
